# Dependencias
node_modules/

# Archivos del sistema
.DS_Store
Thumbs.db
desktop.ini

# Archivos temporales
*.tmp
*.log
*.swp
*~

# Archivos de IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Archivos de respaldo
*.bak
*.backup

